In [6]:

import sqlite3

import unicodecsv


con = sqlite3.connect('knowledge.db')
cur = con.cursor()
cur.execute("DROP TABLE IF EXISTS knowledge")

cur.execute("CREATE TABLE knowledge(id INTEGER PRIMARY KEY AUTOINCREMENT, \
            word TEXT, reading TEXT, book TEXT, jlptlvl TEXT, isknown BOOLEAN NOT NULL CHECK (isknown IN (0, 1)))")


with open(r'C:\Users\twmea\Documents\gatech\educational technology\code downloads\knowledgeDB.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter=",")
    headers = next(reader, [])
    data = [row for row in reader]
    print(data[0])
cur.executemany("INSERT INTO knowledge (word, reading, book, jlptlvl, isknown) VALUES (?, ?, ?, ?, ?);", data)
con.commit()

['挑戦', 'ちょうせん', 'tobira', 'n3', '0']

In [8]:
cur.execute("SELECT * from knowledge where word = '選手' and reading = 'せんしゅ'")
rows = cur.fetchall()
for row in rows:
    print(row)

(2, '選手', 'せんしゅ', 'genki ii', 'n4', 1)